




.lrpGY {
    font-size: 15px;
    color: #7c7c7c;
    text-align: left;
}

.word_header {
    font-family: Roboto,Helvetica,Tahoma,sans-serif;
    font-size: 22px;
    color: #1a1c1e;
    font-weight: 700;
}

.transc {
    font-size: 16px;
    color: #1d9bf5;
}
