{#CONFIRM MODAL#}
<div class="modal fade" id="confirmModalForm" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Подтвердите действие</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body"></div>

            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-outline-danger waves-effect" data-dismiss="modal">Cancel</button>
                <a onclick="confirmFormSubmit()" class="btn btn-sm btn-danger">Ok</a>
            </div>

        </div>
    </div>
</div>
