{% extends "_maket/base.html" %}

{% load static %}

{% block css2 %}
    <style type="text/css">
        .table-bordered {
            border-color: #3e455166;
        }
        .table thead th {
            border-color: #3e455166;
        }
        .create-order th {
            border-left: none !important;
            border-right: none !important;
        }
        .table-bordered th {
            border-color: #3e455166;
        }

        .form-group {
            margin-bottom: 0;
        }

        .md-form {
            margin-bottom: 0;
        }

        .form-control {
            font-size: 0.9rem;
            padding: 0 !important;
            margin-bottom: 0px !important;
        }

        .col-form-label {
            font-size: 0.9rem;
            padding: 0 !important;
            margin-bottom: 0px !important;
        }
        .form-group .col-sm-2 {
            padding-right: 0px;
        }
    </style>
{% endblock %}

logo2


{% block content %}


    <!--HEADER-->
    <div class="row myheader text-center">
        <div class="col">
            <h2>Order Info</h2>
        </div>
    </div>


    <!--CONTENT-->

    <h3 style="padding-top: 30px">Cupboard list</h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Кол-во</th>
            <th scope="col">Имя</th>
            <th scope="col">Столешница</th>
            <th scope="col">HZ</th>
            <th scope="col">Пленка</th>
            <th scope="col">Пленка гл</th>
            <th scope="col">Пластик</th>
            <th scope="col">Фасады</th>
            <th scope="col">Петли</th>
            <th scope="col">Навески</th>
            <th scope="col">Крыша</th>
            <th scope="col">Багет</th>
            <th scope="col">Ручки</th>
        </tr>
        </thead>
        <tbody>
        {% for cupboard in cupboardlst %}
            <tr>
                <td>{{ cupboard.count }}</td>
                <td>{{ cupboard.base_id.name }}</td>
                <td>{{ cupboard.base_id.tabletop }}</td>
                <td>{{ cupboard.base_id.hz }}</td>
                <td>{{ cupboard.base_id.skin }}</td>
                <td>{{ cupboard.base_id.skingl }}</td>
                <td>{{ cupboard.base_id.plastic }}</td>
                <td>{{ cupboard.base_id.facade }}</td>
                <td>{{ cupboard.base_id.loop }}</td>
                <td>{{ cupboard.base_id.hitch }}</td>
                <td>{{ cupboard.base_id.roof }}</td>
                <td>{{ cupboard.base_id.baguette }}</td>
                <td>{{ cupboard.base_id.handle }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    {% for item in price %}
        <div class="row">
            <div class="col-5">
                <div class="form-group row">
                    <label class="col-sm-6 col-form-label">СТОЛЕШНИЦА (мп)</label>
                    <div class="col-sm-2">
                        <div class="md-form mt-0">
                            <input type="text" class="form-control" id="tabletop" value="{{ item.counttabletop }}" disabled>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="md-form mt-0">
                            <input type="text" class="form-control" id="tabletopcost" value="" disabled>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="md-form mt-0">
                            <input type="text" class="form-control" id="tabletopsum" value="" disabled>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-6 col-form-label">- окончания (шт)</label>
                    <div class="col-sm-2">
                        <div class="md-form mt-0">
                            <input type="text" class="form-control" id="tabletop_end" value="{{ item.tabletop_end }}">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="md-form mt-0">
                            <input type="text" class="form-control" id="tabletop_endcost" value="100" disabled>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="md-form mt-0">
                            <input type="text" class="form-control" id="tabletop_endsum" value="" disabled>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="tabletop_edge" class="col-sm-8 col-form-label">- кромка (мп)</label>
                    <div class="col-sm-4">
                        <div class="md-form mt-0">
                            <input type="text" class="form-control" id="tabletop_edge" value="{{ item.tabletop_edge }}">
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="plinth" class="col-sm-8 col-form-label">ПЛИНТУС (мп)</label>
                    <div class="col-sm-4">
                        <div class="md-form mt-0">
                            <input type="text" class="form-control" id="plinth" value="{{ item.plinth }}">
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="plinth_cup" class="col-sm-8 col-form-label">- заглушки (шт)</label>
                    <div class="col-sm-4">
                        <div class="md-form mt-0">
                            <input type="text" class="form-control" id="plinth_cup" value="{{ item.plinth_cup }}">
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="wall_panel" class="col-sm-8 col-form-label">СТЕНОВАЯ ПАНЕЛЬ (мп)</label>
                    <div class="col-sm-4">
                        <div class="md-form mt-0">
                            <input type="text" class="form-control" id="wall_panel" value="{{ item.wall_panel }}">
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="wall_cap" class="col-sm-8 col-form-label">- окончания (шт)</label>
                    <div class="col-sm-4">
                        <div class="md-form mt-0">
                            <input type="text" class="form-control" id="wall_cap" value="{{ item.wall_cap }}">
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="countloop" class="col-sm-8 col-form-label">ПЕТЛИ (шт)</label>
                    <div class="col-sm-4">
                        <div class="md-form mt-0">
                            <input type="text" class="form-control" id="countloop" value="{{ item.countloop }}" disabled>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="counthandle" class="col-sm-8 col-form-label">РУЧКИ (шт)</label>
                    <div class="col-sm-4">
                        <div class="md-form mt-0">
                            <input type="text" class="form-control" id="counthandle" value="{{ item.counthandle }}" disabled>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="counthitch" class="col-sm-8 col-form-label">НАВЕСКИ (компл)</label>
                    <div class="col-sm-4">
                        <div class="md-form mt-0">
                            <input type="text" class="form-control" id="counthitch" value="{{ item.counthitch }}" disabled>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="rail" class="col-sm-8 col-form-label">РЕЙКА (шт)</label>
                    <div class="col-sm-2">
                        <div class="md-form mt-0">
                            <input type="text" class="form-control" id="rail" value="{{ item.rail }}">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="md-form mt-0">
                            <input type="text" class="form-control" id="rail2" value="{{ item.rail }}" disabled>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="countbaguette" class="col-sm-8 col-form-label">БАГЕТ (мп)</label>
                    <div class="col-sm-4">
                        <div class="md-form mt-0">
                            <input type="text" class="form-control" id="countbaguette" value="{{ item.countbaguette }}" disabled>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="countroof" class="col-sm-8 col-form-label">КРЫША (м2)</label>
                    <div class="col-sm-4">
                        <div class="md-form mt-0">
                            <input type="text" class="form-control" id="countroof" value="{{ item.countroof }}" disabled>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="baluster" class="col-sm-8 col-form-label">БАЛЯСИНЫ (мп)</label>
                    <div class="col-sm-4">
                        <div class="md-form mt-0">
                            <input type="text" class="form-control" id="baluster" value="{{ item.baluster }}">
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="1" class="col-sm-8 col-form-label">ЦОКОЛЬ (мп)</label>
                    <div class="col-sm-4">
                        <div class="md-form mt-0">
                            <input type="text" class="form-control" id="1" value="">
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="drying" class="col-sm-8 col-form-label">СУШКА (шт)</label>
                    <div class="col-sm-4">
                        <div class="md-form mt-0">
                            <input type="text" class="form-control" id="drying" value="{{ item.drying }}">
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="backlight" class="col-sm-8 col-form-label">ПОДСВЕТКА (шт)</label>
                    <div class="col-sm-4">
                        <div class="md-form mt-0">
                            <input type="text" class="form-control" id="backlight" value="{{ item.backlight }}">
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="countfacade" class="col-sm-8 col-form-label">ФАСАДЫ (м2)</label>
                    <div class="col-sm-4">
                        <div class="md-form mt-0">
                            <input type="text" class="form-control" id="drying" value="{{ item.countfacade }}" disabled>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="2" class="col-sm-8 col-form-label">ДР ФУРНИТУРА (руб)</label>
                    <div class="col-sm-4">
                        <div class="md-form mt-0">
                            <input type="text" class="form-control" id="2" value="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}



{% endblock %}


{% block js %}
    <script type="text/javascript">
        $("input").keyup(function() {
            var id = $(this).attr('id');

            var rez = $(this).val() * $("#" + id + "cost").val();
            $("#" + id + "sum").val(rez)

            console.log();
        });





    </script>
{% endblock %}






























