{% extends "_maket/base.html" %}

{% load static %}

{% block css2 %}
    <style type="text/css">
        .table-bordered {
            border-color: #3e455166;
        }
        .table thead th {
            border-color: #3e455166;
        }
        .create-order th {
            border-left: none !important;
            border-right: none !important;
        }
        .table-bordered th {
            border-color: #3e455166;
        }

        .md-form {
            margin-top: 0px;
            margin-bottom: 0px;
        }
    </style>
{% endblock %}logo2


{% block content %}


    <!--HEADER-->
    <div class="row myheader text-center">
        <div class="col">
            <h2>Orders</h2>
            <a onclick="showPanel()" id="showpanel" class="btn btn-primary btn-sm">create order</a>
        </div>
    </div>


    <!--CONTENT-->
    <div class="row">
        <div class="col">

            <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th style="width: 60px;">ID</th>
                    <th style="width: 180px;">Created at</th>
                    <th style="width: 300px;">Name</th>
                    <th>Comment</th>
                </tr>
                </thead>
                <tfoot>
                {% for order in orderlst %}
                    <tr>
                        <th>{{ order.id }}</th>
                        <th>{{ order.created_at|date:"Y d M H:i" }}</th>
                        <th>{{ order.name }}</th>
                        <th>
                            <div class="row">
                                <div class="col-9">
                                    {{ order.comment }}
                                </div>
                                <div class="col-3 text-center" style="padding-right: 0;">
                                    <a href="{% url 'order_info' order.id %}"><i class="far fa-eye"></i></a>
                                </div>
                            </div>
                        </th>
                    </tr>
                {% endfor %}
                </tfoot>
            </table>

        </div>
    </div>


{% endblock %}


{% block js %}
    <script type="text/javascript">

        function showPanel() {
            $("#showpanel").addClass('disabled');
            $("thead").prepend("<tr class='create-order'>" +
                "<th style='padding-bottom: 30px;'>NEW</th>" +
                "<th style='padding-bottom: 30px;'>NOW</th>" +
                "<th><div class='md-form'><input class='form-control' id='ordername' type='text' placeholder='Order name'></div></th>" +
                "<th><div class='row'>" +
                "<div class='col-9'><div class='md-form'><input class='form-control' id='ordercomment' type='text' placeholder='Order comment'></div></div>" +
                "<div class='col-3 text-center' style='padding-right: 0;'>" +
                "<a onclick='saveOrder()' class='badge badge-danger' style='margin-top: 5px; padding-left: 10px; padding-right: 10px'>save</a>" +
                "<a onclick='hidePanel()' class='badge badge-primary'>cancel</a>" +
                "</div></th>" +
                "</tr>"
            )
        }

        function hidePanel() {
            $("#showpanel").removeClass('disabled');
            $(".create-order").empty();
        }



        function validateInput(input, text) {
            if (text == 'clear') {
                $(input).val('');
                $(input).removeClass('valid');
                return true;
            }

            if ($(input).val() == '') {
                if (text == null) {
                    text = 'Need to fill';
                }
                var id = $(input)[0].id;
                $(input).after('<label id="' + id + '-error" class="error active" for="' + id + '">' + text +'</label>');
                $(input).removeClass('valid');
                $(input).focus();
                return false;
            } else {
                $(input).next(".error").remove();
                $(input).addClass('valid');
                return true;
            }
        }





        function saveOrder() {
            if (!validateInput($("#ordername")) || !validateInput($("#ordercomment"))) {
                return false;
            }

            $.ajax({
                type: "POST",
                url: "ajax/",
                data: {
                    action: 'save_order',
                    name: $("#ordername").val(),
                    comment: $("#ordercomment").val(),
                },
                cache: false,

                success: function (data) {
                    $("tfoot").prepend("<tr><th>" + data.id + "</th><th>" + data.created_at + "</th><th>" + $("#ordername").val() + "</th>" +
                        "<th><div class='row'><div class='col-9'>" + $("#ordercomment").val() + "</div>" +
                        "<div class='col-3 text-center' style='padding-right: 0;'><a href='/orderinfo/" + data.id + "/'><i class='far fa-eye'></i></a></div></div></th></tr>"

                    );
                    hidePanel();
                    $.alert("Order successfully saved", {type: 'success'});
                },

                error: function (request, error) {
                    $.alert(request.responseText, {type: 'danger'});
                },

                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                },
            });
        };




    </script>
{% endblock %}






























