{% extends "_maket/base.html" %}

{% load static %}

{% block css2 %}
    <style type="text/css">
        .md-form {
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .modal-body {
            margin-top: 20px;
        }
    </style>
{% endblock %}logo2


{% block content %}

    <!--HEADER-->
    <div class="row myheader text-center">
        <div class="col">
            <h2>Список заказов</h2>
        </div>
    </div>


    <!--CONTENT-->
    <div class="row">
        <div class="col">

            <table class="table">
                <thead>
                <tr>
                    <th style="width: 180px;">Дата создания</th>
                    <th style="width: 300px;">Имя</th>
                    <th>Описание</th>
                    <th style="width: 150px"></th>
                </tr>
                </thead>
                <tfoot>
                {% for order in orders %}
                    <tr>
                        <th>{{ order.created_at|date:"Y d M H:i" }}</th>
                        <th>{{ order.name }}</th>
                        <th>{{ order.comment }}</th>
                        <th class="text-right">
                            <a onclick=""><i class="fas fa-pencil-alt"></i></a>
                            <a onclick=""><i class="fas fa-trash-alt"></i></a>
                            <a href="{% url 'orderinfo' order.id %}"><i class="far fa-eye"></i></a>
                        </th>
                    </tr>
                {% endfor %}
                </tfoot>
            </table>

            <a onclick="showAddOrderForm()" class="pull-right">Добавить запись <i class="fas fa-plus color-success"></i></a>

        </div>
    </div>


    {% include "orders/addordermodal.html" %}



{% endblock %}


{% block js %}
    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/jquery.validate.min.js"></script>#}

    <script type="text/javascript">
        function showPanel() {
            $("#showpanel").addClass('disabled');
            $("thead").prepend("<tr class='create-order'>" +
                "<th style='padding-bottom: 30px;'>NEW</th>" +
                "<th style='padding-bottom: 30px;'>NOW</th>" +
                "<th><div class='md-form'><input class='form-control' id='ordername' type='text' placeholder='Order name'></div></th>" +
                "<th><div class='row'>" +
                "<div class='col-9'><div class='md-form'><input class='form-control' id='ordercomment' type='text' placeholder='Order comment'></div></div>" +
                "<div class='col-3 text-center' style='padding-right: 0;'>" +
                "<a onclick='saveOrder()' class='badge badge-danger' style='margin-top: 5px; padding-left: 10px; padding-right: 10px'>save</a>" +
                "<a onclick='hidePanel()' class='badge badge-primary'>cancel</a>" +
                "</div></th>" +
                "</tr>"
            )
        }
        function hidePanel() {
            $("#showpanel").removeClass('disabled');
            $(".create-order").empty();
        }
        function validateInput(input, text) {
            if (text == 'clear') {
                $(input).val('');
                $(input).removeClass('valid');
                return true;
            }

            if ($(input).val() == '') {
                if (text == null) {
                    text = 'Need to fill';
                }
                var id = $(input)[0].id;
                $(input).after('<label id="' + id + '-error" class="error active" for="' + id + '">' + text +'</label>');
                $(input).removeClass('valid');
                $(input).focus();
                return false;
            } else {
                $(input).next(".error").remove();
                $(input).addClass('valid');
                return true;
            }
        }










        window.addEventListener('load', function() {
            var forms = document.getElementsByClassName('needs-validation');
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);

        function showAddOrderForm() {
            $("#ordername").val('');
            $("#ordercomment").val('');
            $('#modalAddOrderForm').modal('show');
        }


    </script>
{% endblock %}






























