{% load static %}

<!--MODAL FORM-->
<div class="modal fade" id="cupboardModalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">

        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title w-100"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body mx-3">

                <form name="cupboardActionForm" action="{% url 'orderinfo' orderid=order.id %}" class="needs-validation container" novalidate method="post">

                    {% csrf_token %}

                    <input type="hidden" id="action" name="action">
                    <input type="hidden" id="cupboardid" name="cupboardid">

                    <div class="md-form mb-5">
                        <select id="cupboardlstid" name="cupboardlstid" class="mdb-select md-form" required>
                            <option value="" disabled selected>Выберите ящик</option>
                            {% for item in cupboardlst %}
                                <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="md-form mb-5">
                        <select id="cupboardcount" name="cupboardcount" class="mdb-select md-form" required>
                            <option value="" disabled selected>Количество</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                        </select>
                    </div>

                    <button type="button" class="btn btn-outline-primary btn-sm btn-rounded waves-effect" data-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-primary btn-sm btn-rounded" >Сохранить</button>

                </form>

            </div>

        </div>

    </div>
</div>

